@import "tailwindcss";

body {
  @apply text-white font-sans min-h-screen;
  background-image: url("/background.svg");
  background-repeat: repeat;
  background-position: center;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none;    /* Firefox */
}

